.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #333333;
  
  background-color: #262626;
  text-overflow: ellipsis;

  width: 764px;
  height: 72px;
  margin-top: 12px;
  border-radius: 8px;

  @media (max-width: 768px) {
    width: 700px;
  }

  @media (max-width: 700px) {
    width: 600px;
  }

  @media (max-width: 600px) {
    width: 550px;
  }

  @media (max-width: 550px) {
    width: 450px;
  }

  @media (max-width: 450px) {
    width: 400px;
  }

  @media (max-width: 400px) {
    width: 350px;
  }
}


input[type=checkbox] {
  margin-left: 20px;
  appearance: none;
  border-radius: 99999px;
  width: 18px;
  height: 18px;
  border: 2px solid #4ea8de;
  margin-right: 10px;
}

input[type=checkbox]:checked {
  background: url('../assets/Vector.svg');
  background-color: #5e60ce;
  background-repeat: no-repeat;
  background-position: 45% 55%;

  border: 2px solid #5e60ce;
}

.container:has(:checked) {
  text-decoration: line-through;
}

.container p {
  width: 680px;
  
  color: #f2f2f2; 
  font-size: 14px;
  font-weight: 300;

  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  max-height: 3.5em;

  @media (max-width: 768px) {
    width: 700px;
  }

  @media (max-width: 700px) {
    width: 600px;
  }

  @media (max-width: 600px) {
    width: 550px;
  }

  @media (max-width: 550px) {
    width: 400px;
  }

  @media (max-width: 400px) {
    width: 300px;
  }

}

.deleteButton {
  background-color: #333;

  border: none;
  border-radius: 8px;

  margin: 16px 16px 32px 4px;
  height: 24px;
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.deleteButton:hover {
  background-color: #242424;
  cursor: pointer;
}