.createTask {
  display: flex;
  margin-top: -30px;
  justify-content: center;
  gap: 8px;
  width: 100%;

  @media(max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.input {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  background-color: #262626;
  color: #F2F2F2;
  width: 590px;
  border: 1px solid #000;

  @media(max-width: 768px) {
    width: auto;
  }
}

.buttonWrappper {
  display: flex;
  gap: 10px;
  
  @media (max-width: 768px) {
    width: 100%;
  }
}

.microfoneButton {
  background-color: #8284FA;
  border: none;
  border-radius: 8px;
  color: #f2f2f2;
  padding:8px;

  @media (max-width: 768px) {
    justify-content: space-between;
    width: 20%;
  }
}

.microfoneButton:hover {
  background-color: #5E60CE;
  cursor: pointer;    
}

.microfoneImg {
  height: 24px;
  width: 24px;
}

.createButton {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #136f9f;
  color: #f2f2f2;
  font-weight: bold;
  
  padding: 16px;
  border-radius: 8px;
  border: none;

  transition: 0.1s;

  @media (max-width: 768px) {
    justify-content: space-between;
    width: 100%;
  }
}

.createButton:hover {
  background-color: #4ea8de;
  cursor: pointer;    
}

.createButton img {
  margin-left: 8px;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  font-weight: bold;
}

.tasksContainerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 64px;
}

.tasksContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 750px;
}

.createdInfo {
  color: #4ea8de;
  white-space: nowrap;
  font-weight: bold;
}

.concludedInfo {
  color: #8284FA;
  white-space: nowrap;
    font-weight: bold;
}

.count1 {
  display: inline-block;
  background-color: #333333;
  color: #fff;
  border-radius: 60px;
  padding: 3px 10px;

  white-space: nowrap;
}

.count {
  display: inline-block;
  background-color: #333333;
  color: #fff;
  border-radius: 60px;
  padding: 3px 10px;

  white-space: nowrap;
}

.newTasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 24px;

  color: #808080;

  border-radius: 16px;
  border-top: 1px solid #808080;
  width: 763px;
  margin-bottom: 100px;
}

.newTasks img {
  margin-top: 64px;
  margin-left: 110px;
}


@media (max-width: 768px) {
  .tasks {
    margin-top: 24px;
  }

  .newTasks {
    width: 100%;
  }
}